@font-face{font-family:Graphik;font-display:swap;src:local("Graphik Semi bold"),local("Graphik-Semi-bold"),url(https://www.hrblock.ca/assets/fonts/Graphik-Semibold.woff2) format("woff2"),url(https://www.hrblock.ca/assets/fonts/Graphik-Semibold.woff) format("woff"),url(https://www.hrblock.ca/assets/fonts/Graphik-Semibold.ttf) format("truetype");font-weight:600;font-style:normal}@font-face{font-family:Graphik;font-display:swap;src:local("Graphik Bold"),local("Graphik-Bold"),url(https://www.hrblock.ca/assets/fonts/Graphik-Bold.woff2) format("woff2"),url(https://www.hrblock.ca/assets/fonts/Graphik-Bold.woff) format("woff"),url(https://www.hrblock.ca/assets/fonts/Graphik-Bold.ttf) format("truetype");font-weight:700;font-style:normal}@font-face{font-family:Graphik;font-display:swap;src:local("Graphik Medium"),local("Graphik-Medium-Web"),url(https://www.hrblock.ca/assets/fonts/Graphik-Medium-Web.woff2) format("woff2"),url(https://www.hrblock.ca/assets/fonts/Graphik-Medium-Web.woff) format("woff"),url(https://www.hrblock.ca/assets/fonts/Graphik-Medium-Web.ttf) format("truetype");font-weight:500;font-style:normal}@font-face{font-family:Graphik;font-display:swap;src:local("Graphik Regular"),local("Graphik-Regular"),url(https://www.hrblock.ca/assets/fonts/Graphik-Regular.woff2) format("woff2"),url(https://www.hrblock.ca/assets/fonts/Graphik-Regular.woff) format("woff"),url(https://www.hrblock.ca/assets/fonts/Graphik-Regular.ttf) format("truetype");}

html {
  font-size: inherit !important;
  font-family: Graphik,Helvetica,Arial,sans-serif;
  line-height: 1.5;
}

html > body.hrb-body {
  font-size: inherit !important;
  font-family: Graphik,Helvetica,Arial,sans-serif !important;
}

/* Override Common Bundle which sets the root font size of Body */
.hrb-body {
  font-size: inherit !important;
}

body.hrb-body > div#container.hrb-container .hrb-login-account-options {
  font-size: inherit;
  line-height: inherit;
}

body.hrb-body > div#container.hrb-container .hrb-card-layout-login {
  margin: 0;
  padding-top: 1rem;
}

body#hrb-app.hrb-body .hrb-dashboard-box {
  padding: 0;
}

body#hrb-app.hrb-body .hrb-welcome-banner {
  font-size: inherit; 
  font-weight: inherit;
  margin: 0;
  border: none;
  font-family: inherit;
  background: none;
}

body#hrb-app.hrb-body .hrb-start-return-btn {
  padding: inherit;
}

body#hrb-app.hrb-body .hrb-dashboard-welcome {
  color: inherit;
  font-size: inherit;
}

body div#root.hrb-body .hrb-action-link {
  color: inherit;
}

body#hrb-app.hrb-body .hrb-btn-sign-in {
  width: inherit;
  height: inherit;
  font-size: inherit;
  border-radius: inherit;
}

body div#root.hrb-body .btn {
  font-weight: 600;
}

body div#root.hrb-body .hrb-lang-toggle {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

body div#root.hrb-body .hrb-lang-toggle .btn.hrb-lang-toggle-btn {
  border: inherit;
  color: inherit;
  font-size: inherit;
  border-radius: inherit;
  padding: inherit;
  line-height: inherit;
}

/* Input Text */
body#hrb-app .hrb-page input[type="text"],
body#hrb-app .hrb-page input[type="password"],
body#hrb-app .hrb-page input[type="email"],
body#hrb-app .hrb-page input:not([type]),
body > div#root.hrb-body .hrb-container input[type="text"],
body > div#root.hrb-body .hrb-container input[type="password"],
body > div#root.hrb-body .hrb-container input[type="email"],
body > div#root.hrb-body .hrb-container input:not([type]),
body.hrb-body > div#container.hrb-container input[type="text"],
body.hrb-body > div#container.hrb-container input[type="password"],
body.hrb-body > div#container.hrb-container input[type="email"],
body.hrb-body > div#container.hrb-container input:not([type])
{
  min-width: inherit;
  outline: none;
  font-weight: inherit;
  background-color: inherit;
  height: inherit;
  color: inherit;
  font-family: inherit;  
  line-height: 1.75rem;
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  padding: 0.5rem;
  --tw-border-opacity: 1;
  border-color: rgba(226,226,226,var(--tw-border-opacity));
  border-width: 2px;
  border-radius: 0;
  width: 100%;
  display: block;
  font-size: 100%;
  margin: 0;
}

/* Input Text Active State */
body#hrb-app .hrb-page input[type="text"]:focus,
body#hrb-app .hrb-page input[type="password"]:focus,
body#hrb-app .hrb-page input[type="email"]:focus,
body#hrb-app .hrb-page input:not([type]):focus,
body > div#root.hrb-body .hrb-container input[type="text"]:focus,
body > div#root.hrb-body .hrb-container input[type="password"]:focus,
body > div#root.hrb-body .hrb-container input[type="email"]:focus,
body > div#root.hrb-body .hrb-container input:not([type]):focus,
body.hrb-body > div#container.hrb-container input[type="text"]:focus,
body.hrb-body > div#container.hrb-container input[type="password"]:focus,
body.hrb-body > div#container.hrb-container input[type="email"]:focus,
body.hrb-body > div#container.hrb-container input:not([type]):focus
{
  box-shadow: none;
  border-radius: 0;
  --tw-border-opacity:1;
  border-color: rgba(245,204,2,var(--tw-border-opacity));
}

/* Button */
body#hrb-app button,
body#hrb-app input[type="submit"],
body#hrb-app input[type="button"],
body div#root.hrb-body button,
body div#root.hrb-body input[type="submit"],
body div#root.hrb-body input[type="button"],
body#hrb-app .hrb-start-return-btn .hrb-start-return-text,
body.hrb-body > div#container.hrb-container button,
body.hrb-body > div#container.hrb-container input[type="submit"],
body.hrb-body > div#container.hrb-container input[type="button"]
{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: auto;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
  transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
  outline: 2px solid transparent;
  outline-offset: 2px;
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgba(38,38,38,var(--tw-text-opacity));
  line-height: 1;
  font-weight: 600;
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  --tw-bg-opacity: 1;
  background-color: rgba(245,204,2,var(--tw-bg-opacity));
  border-color: transparent;
  border-width: 2px;
  border-radius: 0;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  cursor: pointer;
  background-image: none;
  -webkit-appearance: button;
  text-transform: none;
  font-family: inherit;
  margin: 0;
}

body#hrb-app .modal-header button {
  padding: 0;
}

/* Horizontally align Activation Code form */
body#hrb-app .coupon-input-container .coupon-input {
  display: flex;
  align-items: center;
  width: 18rem;
}

body#hrb-app.hrb-body .hrb-dashboard-box {
  font-size: inherit;
}

body#hrb-app .in-page-code-entry-widget-highlight .in-page-code-entry-widget .in-page-code-entry-widget-text,
body#hrb-app .in-page-code-entry-widget-highlight .in-page-code-entry-widget .coupon-input-container {
  padding: 0;
}

body#hrb-app .in-page-code-entry-widget-highlight .in-page-code-entry-widget {
  min-height: inherit;
  border: inherit;
  padding: inherit;
}

/* Button Hover State */
body#hrb-app button:hover,
body#hrb-app input[type="submit"]:hover,
body#hrb-app input[type="button"]:hover,
body div#root.hrb-body button:hover,
body div#root.hrb-body input[type="submit"]:hover,
body div#root.hrb-body input[type="button"]:hover,
body#hrb-app .hrb-start-return-btn .hrb-start-return-text:hover,
body.hrb-body > div#container.hrb-container button:hover,
body.hrb-body > div#container.hrb-container input[type="submit"]:hover,
body.hrb-body > div#container.hrb-container input[type="button"]:hover {
  color: rgba(38,38,38,var(--tw-text-opacity));
  --tw-bg-opacity:1;background-color:rgba(248,217,66,var(--tw-bg-opacity))
} 

/* Hyperlink Style */
body#hrb-app a,
body.hrb-body > div#container.hrb-container a,
html > body.hrb-body > div.hrb-navbar > div.hrb-navbar-language > div.hrb-lang-toggle > button.btn.hrb-lang-toggle-btn,
html > body div#root.hrb-body div.hrb-navbar > div.hrb-navbar-language > div.hrb-lang-toggle > button.btn.hrb-lang-toggle-btn
 {
  font-family: inherit;
  font-weight: 600;
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgba(38,38,38,var(--tw-text-opacity));
}

/* Hyperlink Hover State */
body#hrb-app a:hover,
body.hrb-body > div#container.hrb-container a:hover {
  border-bottom: 2px solid black;
}

/** Top Bar Styles **/

/* Top Bar Container */

html > body.hrb-body::after {
  z-index: -1;
  top: 0;
  position: fixed;
  display: block;
  content: "";
  height: 4.5rem;
  background-color: white;
  width: 100%;

}

html > body.hrb-body > div.hrb-navbar {
  margin: 0 auto;
  max-width: 1126px;
}

/* Hide Default Logo */
body#hrb-app.hrb-body .hrb-logo,
body#hrb-app.hrb-body .hrb-navbar-left span.hrb-question-icon,
body#hrb-app.hrb-body .hrb-navbar-left span.fa.fa-sign-out,
body.hrb-body > div.hrb-navbar > .hrb-navbar-logo, 
body .headerStyleDefault > .headerDesktopContainer > .headerDesktopInnerContainer > .headerLeft.desktopMarginLeft svg[alt="H&R Block Canada logo"],
body .headerStyleDefault > .headerDesktopContainer > .headerDesktopInnerContainer > .headerLeft.desktopMarginLeft svg[alt="Home.hrbLogoAltText"],
body > div#root.hrb-body div.hrb-navbar > .hrb-navbar-logo
{
  display: none;
}

body#hrb-app.hrb-body .hrb-top-bar .hrb-top-bar-container .hrb-navbar-right-spacer {
  display: none;
}

body#hrb-app.hrb-body .hrb-top-bar .hrb-top-bar-container .hrb-toggle-language {
  margin: 0;
}

body#hrb-app.hrb-body .hrb-header,
body > div#root .headerStyleDefault,
body#hrb-app.hrb-body .hrb-top-bar .hrb-top-bar-container {
  height: 4rem;
  box-shadow: none;
}

body.hrb-body > div.hrb-navbar,
body div#root.hrb-body div.hrb-navbar
{
  padding: 0.5rem;
  margin: 0;
  height: inherit !important;
}

body#hrb-app.hrb-body .hrb-navbar-left button {
  padding: 0 0.5rem;
}

body#hrb-app.hrb-body .hrb-header .my-returns-image {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-top: 2px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor'%3E%3Cpath fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
}

/* HRB Logo */
.hrb-navbar::before, 
.headerLeft.desktopMarginLeft::before, 
.hrb-top-bar > .hrb-top-bar-container > .hrb-navbar-left:not(.ng-scope)::before {
  content: "";
  display: block;
  height: 56px;
  visibility: visible;
  width: 56px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='56' height='56' id='logo' viewBox='0 0 75 75' class='g-image--lazy g-image--loaded sm:w-16 md:w-12 sm:h-16 md:h-12'%3E%3Cdefs%3E%3CclipPath id='a1'%3E%3Cpath d='M0 0h75v75H0z'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cpath fill='%2314aa40' d='M0 0h75v75H0z'%3E%3C/path%3E%3Cpath fill='white' d='M5.7 39.7h4.1v4.8H13v-4.8h4.1v13.2H13v-4.8H9.8V53H5.7z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M39.2 46.3a1.6 1.6 0 001.6-1.6 1.4 1.4 0 00-1.6-1.6h-2v3.2h2zm-.9 3.2h-1.1v3.4H33V40h6.6c3.4 0 5 2 5 4.8a4.8 4.8 0 01-2.3 4.1l2.5 4.1H40z'%3E%3C/path%3E%3C/g%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M12.3 66.6c.7 0 1-.5 1-1.2a1 1 0 00-1.2-1H9.6v2.2zm-.9-5c.7 0 1-.5 1-1.2a1 1 0 00-1-.9H9.6v2zm-5.7-5h6.8c2.5 0 4 1.3 4 3.4a3.3 3.3 0 01-1.7 3c1.6.4 2.5 1.3 2.5 2.9 0 2.3-1.6 3.7-4.5 3.7H5.9v-13z'%3E%3C/path%3E%3C/g%3E%3Cpath fill='white' d='M18.7 56.6h4.1V66H28v3.5h-9.3z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M37.6 64v-2c0-1.6-.7-2.3-2-2.3s-2 1-2 2.3v2c0 1.7.6 2.4 2 2.4a2 2 0 002-2.3m-8.4-.2v-1.6c0-3.7 2-6 6.1-6s6.2 2.5 6.2 6v1.6c0 3.6-2 5.9-6.2 5.9-3.8 0-6.1-2.5-6.1-6'%3E%3C/path%3E%3C/g%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M49.3 66.4a1.9 1.9 0 002-1.9h3.9c0 3-2 5.3-5.7 5.3-4.1 0-6.2-2.3-6.2-6V62c0-3.6 2-5.9 6.2-5.9 3.6 0 5.7 2.3 5.7 5.2h-3.9a2 2 0 00-2-2c-1.4 0-2 .9-2 2.3v2q0 2.8 2 2.8'%3E%3C/path%3E%3C/g%3E%3Cpath fill='white' d='M57.2 56.6h4.1V61h.3l2.7-4.5H69l-3.5 5.9 4 7h-4.9L61.9 64h-.5v5.5h-4z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M24.6 50.4a1.8 1.8 0 01-2-1.8 2.3 2.3 0 01.9-1.6l2.5 3a2.4 2.4 0 01-1.4.4m5-.2a5 5 0 00.5-2.5v-2h-3v1.7l-3-3.4c-.2-.4-.4-.7-.4-1.1a1 1 0 011-1 .8.8 0 01.8 1v.7h3.2v-1c0-2-1.8-3.4-4-3.4-2.6 0-4.4 1.4-4.4 3.4a3 3 0 001.1 2.3 3.7 3.7 0 00-2.2 3.7c0 2.5 2 4.3 5.7 4.3a4.8 4.8 0 003.1-1l.7.8h3.7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

body#hrb-app .hrb-header button,
body#hrb-app .modal-header button {
  background-color: inherit;
}

body#hrb-app .hrb-header button:hover,
body#hrb-app .modal-header button:hover
 {
  background-color: inherit;
}

body#hrb-app .btn.btn-danger {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  background-color: rgba(227,0,0,var(--tw-border-opacity)); 
}

body#hrb-app .btn.btn-default {
  --tw-text-opacity: 1;
  color: rgba(255,255,255,var(--tw-text-opacity));
  background-color: rgba(38,38,38,var(--tw-text-opacity)) 
}

body#hrb-app .btn.btn-default:hover {
  --tw-text-opacity:1;
  color: rgba(255,255,255,var(--tw-text-opacity)); 
  background-color:rgba(54,54,54,var(--tw-text-opacity));
}

body#hrb-app .in-page-code-entry-widget-highlight {
  margin: inherit;
  border: inherit;
  border-image: inherit;
}

body#hrb-app .in-page-code-entry-widget-highlight .in-page-code-entry-widget-text {
  display: inline-block;
}

body#hrb-app input.coupon-input-field {
  width: 16rem;
}

/* Switch Language */
.hrb-lang-toggle-btn::after, .headerRight.desktopMarginRight > .languageButton span::after,
body#hrb-app .hrb-header .hrb-toggle-language .hrb-btn-top-bar::after
{
  content: "glish"
}

.hrb-lang-toggle-btn:last-child::after, .headerRight.desktopMarginRight > .languageButton:last-child span::after,
body#hrb-app .hrb-header .hrb-toggle-language .hrb-btn-top-bar:last-child::after
{
  content: "ançais"
}

.hrb-lang-toggle .btn.hrb-lang-toggle-btn:hover {
  --tw-text-opacity:1;color:rgba(54,54,54,var(--tw-text-opacity));
}

/* Hide the active Language */
.headerRight.desktopMarginRight .languageButton.selected, 
.hrb-lang-toggle-btn-active,
body#hrb-app .hrb-header .hrb-toggle-language .hrb-btn-top-bar.hrb-active,
.btn.hrb-lang-toggle-btn.hrb-lang-toggle-btn-active
{
	display: none !important;
}

/* Vertically Align Top Nav Menu Links */
body#hrb-app .hrb-header .hrb-navbar-left, 
body#hrb-app .hrb-header .hrb-navbar-right-icons {
  height: 100%;
  display: inline-flex;
  align-items: center;
}

/** HRB-Card-Widget Styles **/

body.hrb-body > div#container.hrb-container .hrb-card-layout-2fa {
  margin-top: 4rem;
}

.desktopMarginLeft h1, 
.hrb-registration-main-welcome-text > span, 
.hrb-card-widget-content-text > span {
  background-color: none;
  border: none;
  line-height: 1.5rem;
  font-weight: 600;
  --tw-text-opacity:1;color:rgba(0,0,0,var(--tw-text-opacity));
  font-size: 1rem;
}

body div#container.hrb-container .hrb-security-question-text {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

/* Dashboard Layout */

body#hrb-app.hrb-body .hrb-view-level-1 .hrb-view-level-2.hrb-view-level-private .hrb-page {
  float: inherit;
  margin: 0 auto;
}

body#hrb-app.hrb-body .hrb-dashboard-netfile-message {
  border-radius: inherit;
}

body#hrb-app.hrb-body .hrb-dashboard-welcome {
  --tw-text-opacity: 1;
    color: rgba(20,170,64,var(--tw-text-opacity));
    line-height: 1.25;
    font-weight: 700;
    font-size: 2.25rem;
    padding-top: 1.25rem;
}

body#hrb-app.hrb-body .hrb-myreturn-box,
body#hrb-app.hrb-body .hrb-view-level-dashboard .hrb-start-return-box,
body#hrb-app.hrb-body .hrb-view-level-dashboard .hrb-welcome-resources,
body#hrb-app.hrb-body .hrb-view-level-dashboard .in-page-code-entry-widget-highlight
{
  padding-bottom: 2rem;
}

body#hrb-app.hrb-body .coupon-input-container .coupon-button-container {
  padding: inherit;
  height: inherit;
}

body#hrb-app.hrb-body .hrb-dashboard-leftoff strong {
  font-weight: inherit;
}

.hrb-navigation-btn .pull-left .btn span {
  padding: 0 0.5rem 0 0;
}

.hrb-navigation-btn .pull-right .btn span {
  padding: 0 0 0 0.5rem;
}

/* Dashboard Link Tables */

body#hrb-app.hrb-body .hrb-welcome-resources {
  margin: inherit;
  font-size: inherit;
  border: 0 solid;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(226,226,226,var(--tw-border-opacity));  
}

body#hrb-app.hrb-body .hrb-welcome-resources .hrb-welcome-resources-box>div .hrb-welcome-resources-header {
  background: inherit;
  font-weight: bolder;
  font-size: .875rem;
  line-height: 1.25rem;
  color: inherit;
}

body#hrb-app.hrb-body .hrb-welcome-resources .hrb-welcome-resources-box>div>div {
  padding: inherit;
  padding: 0.75rem 1.5rem;
  font-size: .875rem;
  line-height: 1.25rem;
  font-weight: 400;
}

body#hrb-app.hrb-body .hrb-welcome-resources .hrb-welcome-resources-box {
  padding: inherit;
  margin: inherit;
}

body#hrb-app.hrb-body .hrb-welcome-resources .hrb-welcome-resources-box ul {
  margin: inherit;
  padding: inherit;
}

body#hrb-app.hrb-body .hrb-welcome-resources .hrb-welcome-resources-box>div {
  width: 100%;
  border: inherit;
  margin: inherit
}

.hrb-login-updated-card {
  border-top: none !important;
  position: relative;
  --tw-text-opacity: 1;
  color: rgba(110,110,110,var(--tw-text-opacity));
}

.hrb-card-container {
  box-shadow: none !important;
}

.hrb-card-widget-submit-button .hrb-button.btn, .form-control.hrb-card-widget-input {
  height: inherit !important;
} 
.hrb-card-container.hrb-login-updated-card > span > b {
  position: absolute;
  top: 0;
  right: .5rem;
  --tw-bg-opacity: 1;
  background-color: rgba(0,93,31,var(--tw-bg-opacity));
  color: white;
  font-size: .625rem;
  font-weight: 400 !important;
  padding-left: .25rem;
  padding-right: .25rem;
  --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    --tw-translate-x: 50%;
    --tw-translate-y: -50%;
}

.hrb-card-container.hrb-login-updated-card {
  padding: 3rem 1rem;
  font-size: 0.9rem;
}

.sign-in-wrapper {
  font-size: 1rem !important;
}

.hrb-body .hrb-dashboard-welcome, h2, .hrb-account-email-header span {
  font-weight: 700 !important;
  font-family: Graphik,Helvetica,Arial,sans-serif !important;
}

.hrb-card-container {
  box-shadow: none;
}

.hrb-card-widget-instruction-text {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
} 

.hrb-card-widget-instruction-text span {  
  font-family: Graphik;
  font-size: 2.25rem;
  line-height: 2.5rem;
  --tw-text-opacity: 1;
  color: rgba(54,54,54,var(--tw-text-opacity));
  font-weight: 700;
}

.hrb-card-widget-logo {
  display: none;
}

body.hrb-body > div#container.hrb-container .hrb-card-widget-logo-wrapper {
  margin: 2rem auto 1rem;
  width: auto;
}

.hrb-card-widget-logo-wrapper::before {
  content: "";
  display: block;
  height: 128px;
  width: 128px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='128' height='128' id='logo' viewBox='0 0 75 75' class='g-image--lazy g-image--loaded sm:w-16 md:w-12 sm:h-16 md:h-12'%3E%3Cdefs%3E%3CclipPath id='a1'%3E%3Cpath d='M0 0h75v75H0z'%3E%3C/path%3E%3C/clipPath%3E%3C/defs%3E%3Cpath fill='%2314aa40' d='M0 0h75v75H0z'%3E%3C/path%3E%3Cpath fill='white' d='M5.7 39.7h4.1v4.8H13v-4.8h4.1v13.2H13v-4.8H9.8V53H5.7z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M39.2 46.3a1.6 1.6 0 001.6-1.6 1.4 1.4 0 00-1.6-1.6h-2v3.2h2zm-.9 3.2h-1.1v3.4H33V40h6.6c3.4 0 5 2 5 4.8a4.8 4.8 0 01-2.3 4.1l2.5 4.1H40z'%3E%3C/path%3E%3C/g%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M12.3 66.6c.7 0 1-.5 1-1.2a1 1 0 00-1.2-1H9.6v2.2zm-.9-5c.7 0 1-.5 1-1.2a1 1 0 00-1-.9H9.6v2zm-5.7-5h6.8c2.5 0 4 1.3 4 3.4a3.3 3.3 0 01-1.7 3c1.6.4 2.5 1.3 2.5 2.9 0 2.3-1.6 3.7-4.5 3.7H5.9v-13z'%3E%3C/path%3E%3C/g%3E%3Cpath fill='white' d='M18.7 56.6h4.1V66H28v3.5h-9.3z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M37.6 64v-2c0-1.6-.7-2.3-2-2.3s-2 1-2 2.3v2c0 1.7.6 2.4 2 2.4a2 2 0 002-2.3m-8.4-.2v-1.6c0-3.7 2-6 6.1-6s6.2 2.5 6.2 6v1.6c0 3.6-2 5.9-6.2 5.9-3.8 0-6.1-2.5-6.1-6'%3E%3C/path%3E%3C/g%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M49.3 66.4a1.9 1.9 0 002-1.9h3.9c0 3-2 5.3-5.7 5.3-4.1 0-6.2-2.3-6.2-6V62c0-3.6 2-5.9 6.2-5.9 3.6 0 5.7 2.3 5.7 5.2h-3.9a2 2 0 00-2-2c-1.4 0-2 .9-2 2.3v2q0 2.8 2 2.8'%3E%3C/path%3E%3C/g%3E%3Cpath fill='white' d='M57.2 56.6h4.1V61h.3l2.7-4.5H69l-3.5 5.9 4 7h-4.9L61.9 64h-.5v5.5h-4z'%3E%3C/path%3E%3Cg class='c1'%3E%3Cpath fill='white' d='M24.6 50.4a1.8 1.8 0 01-2-1.8 2.3 2.3 0 01.9-1.6l2.5 3a2.4 2.4 0 01-1.4.4m5-.2a5 5 0 00.5-2.5v-2h-3v1.7l-3-3.4c-.2-.4-.4-.7-.4-1.1a1 1 0 011-1 .8.8 0 01.8 1v.7h3.2v-1c0-2-1.8-3.4-4-3.4-2.6 0-4.4 1.4-4.4 3.4a3 3 0 001.1 2.3 3.7 3.7 0 00-2.2 3.7c0 2.5 2 4.3 5.7 4.3a4.8 4.8 0 003.1-1l.7.8h3.7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.hrb-account-email-icon::before {
  content: "";
  display: block;
  height: 128px;
  width: 128px;
  background-repeat: no-repeat;
  background-position: center middle;
  background-image: url("data:image/svg+xml,%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' width='59.69' height='59.52' viewBox='0 0 59.69 59.52'%3E%3Cg data-name='Group 6712'%3E%3Cg data-name='Group 7145' clip-path='url(%23a)'%3E%3Cpath data-name='Path 177' d='M33 34.8a1 1 0 011-1h14.6a1 1 0 110 2H34a1 1 0 01-1-1m1-5.2h14.7a1 1 0 100-2H34a1 1 0 100 2m-4.2 20.1H11.9a1 1 0 01-1-1V25a1 1 0 011-1h17.8a1 1 0 011 1v23.8a1 1 0 01-1 1m-1-23.8H12.8v21.9h15.9zm16 20.2a1 1 0 010 1.4L42.4 50a1 1 0 01-.7.3 1 1 0 01-.7-.3l-2.7-3-1.4 1.4a1 1 0 01-1.6-.5l-1.5-8a1 1 0 011.2-1l7.9 1.4a1 1 0 01.5 1.6L42 43.4zm-2 .7l-2.8-2.7a1 1 0 010-1.4l.8-.7L36 41l.8 4.7.8-.7a1 1 0 01.7-.3 1 1 0 01.6.3l2.8 2.7zM60.5 53v2.7a4 4 0 01-4 4H4a4 4 0 01-4.1-4V53a1 1 0 011-1h4.6V23.3a4 4 0 014-4.1h41.2a4 4 0 014.1 4V52h4.6a1 1 0 011 1m-53-1h15.9a1 1 0 011 1 1.2 1.2 0 001.2 1.2h9.3a1.2 1.2 0 001.3-1.2 1 1 0 011-1H53V23.3a2.1 2.1 0 00-2.2-2.2H9.7a2.1 2.1 0 00-2.2 2.2zm51 2H38a3.2 3.2 0 01-3 2.2h-9.3a3.2 3.2 0 01-3-2.2H1.8v1.7A2.1 2.1 0 004 57.8h52.3a2.1 2.1 0 002.1-2.1zM30.2 12.9a1 1 0 001-1V.9a1 1 0 00-2 0v11a1 1 0 001 1m14 4.1a1 1 0 00.8-.3l8-7.9a1 1 0 00-1.4-1.4l-8 8a1 1 0 00.7 1.6m-28.8-.3a1 1 0 001.4-1.3l-8-8a1 1 0 00-1.4 1.4z' fill='%2314aa40'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.hrb-account-email-icon img {
  display: none !important;
}

/* Headline Padding */
body.hrb-body > div#container.hrb-container .hrb-card-widget .hrb-card-widget-instruction-text 
{
  padding: 1.25rem 0;
}

/* Sign In Form Padding */
body.hrb-body > div#container.hrb-container .hrb-card-widget .hrb-card-form-container form div
{
  padding: 0.375rem 0;
}

body.hrb-body > div#container.hrb-container .hrb-card-widget .hrb-remember-me-section {
  margin: 0;
}

/* Buttons in the HRB-Card-Widget should be full width */
body.hrb-body > div#container.hrb-container .hrb-card-widget input[type="submit"],
body.hrb-body > div#container.hrb-container .hrb-card-widget input[type="button"],
body > div#root.hrb-body .hrb-card-widget-button-container button.btn
{
  width: 100%;
}

body > div#root.hrb-body .hrb-card-widget-button-container .hrb-card-widget-cancel-button .hrb-action-link {
  color: inherit;
}

/* Form Cancel Button Style */ 
body.hrb-body > div#container.hrb-container .hrb-card-widget div.hrb-card-widget-cancel 
{
  margin: 1rem 0;
  font-size: inherit;
}

body > div#root.hrb-body .hrb-card-widget-button-container .hrb-card-widget-cancel-button {
  font-size: inherit;
  margin: 0;
  padding: 1rem 0;  
}

html > body.hrb-body > div.hrb-navbar div.hrb-navbar-language > div.hrb-lang-toggle > button.btn.hrb-lang-toggle-btn, 
html > body div#root.hrb-body div.hrb-navbar div.hrb-navbar-language div.hrb-lang-toggle > button.btn.hrb-lang-toggle-btn, 
.headerRight.desktopMarginRight .languageButton, .hrb-action-link, 
.hrb-body .hrb-top-bar .hrb-top-bar-container .hrb-toggle-language .hrb-btn-top-bar 
{
  font-family: Graphik,Helvetica,Arial,sans-serif;
  font-weight: 600;
  text-decoration: none;
  --tw-text-opacity: 1;
  color: rgba(38,38,38,var(--tw-text-opacity));
  background-color: none;
  border: none;
  line-height: inherit;
  --tw-text-opacity:1;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border-bottom: 2px solid transparent;
}

html > body.hrb-body > div.hrb-navbar > div.hrb-navbar-language > div.hrb-lang-toggle > button.btn.hrb-lang-toggle-btn:hover {
  border-bottom: 2px solid black;
} 

/* Recolour Icons */
body#hrb-app.hrb-body .hrb-slidedown ul.dropdown-menu li a, 
.hrb-welcome-resources a, .hrb-dashboard-bottom-info a, 
body#hrb-app.hrb-body .hrb-myreturn-list .hrb-edit-icon-box, 
body#hrb-app.hrb-body i.fa, .hrb-body span.fa {
  --tw-text-opacity: 1;
  color: rgba(38,38,38,var(--tw-text-opacity));
}

/* Dashboard */

body#hrb-app.hrb-body .hrb-myreturn-list {
  display: flex;
  align-items: center;
  padding: 0 0.25rem;
}

body#hrb-app.hrb-body .hrb-myreturn-list .col-md-6{
  order: 0;
}
body#hrb-app.hrb-body .hrb-myreturn-list .col-md-2.ng-scope {
  order: 1;
}
body#hrb-app.hrb-body .hrb-myreturn-list .col-md-2.hrb-tax-icon-box {
  order: 2;
}
body#hrb-app.hrb-body .hrb-myreturn-list .col-md-2.hrb-delete-icon-box {
  order: 3;
  text-align: right;
  float: right;
}
body#hrb-app.hrb-body .hrb-myreturn-list .col-md-2.hrb-delete-icon-box .hrb-x-icon-box span.ng-binding,
body#hrb-app.hrb-body .hrb-myreturn-list .hrb-edit-icon-box {
  display: flex;
  align-items: center;
}

body#hrb-app.hrb-body .hrb-myreturn-list,
body#hrb-app.hrb-body .hrb-myreturn-list div {
  border: inherit;
  margin: inherit;
  padding: inherit;
}

body#hrb-app.hrb-body .hrb-view-level-1 .hrb-view-level-2.hrb-view-level-private .hrb-page {
  border: inherit;
  box-shadow: inherit;
  padding: inherit;
}

body#hrb-app.hrb-body > div#container.hrb-container {
  padding-top: 4.5rem;
  margin: inherit;
}

/* Standard List Marker */
#hrb-app.hrb-body .hrb-page ul li::marker {
  content: "\25A0";
  --tw-text-opacity: 1;
  color: rgba(38,38,38,var(--tw-text-opacity));
}